<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.domain.jrnl.diary.repository.mybatis.JrnlDiaryMapper">

    <resultMap id="JrnlDiaryMap" type="io.nicheblog.dreamdiary.domain.jrnl.diary.model.JrnlDiaryDto">
        <id property="postNo" column="post_no"/>
        <result property="jrnlEntryNo" column="jrnl_entry_no"/>
        <result property="jrnlDayNo" column="jrnl_day_no"/>
        <result property="idx" column="idx"/>
        <result property="yy" column="yy"/>
        <result property="mnth" column="mnth"/>
    </resultMap>

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedByPostNo" resultMap="JrnlDiaryMap">
        /* JrnlDiaryMapper.getDeletedByPostNo */
        SELECT
            diary.post_no AS postNo,
            diary.jrnl_entry_no AS jrnlEntryNo,
            diary.idx,
            day.post_no AS jrnlDayNo,
            day.yy AS yy,
            day.mnth AS mnth
        FROM jrnl_diary diary
            LEFT JOIN jrnl_entry entry ON diary.jrnl_day_no = entry.post_no
            LEFT JOIN jrnl_day day ON entry.jrnl_day_no = day.post_no
        WHERE diary.post_no = #{postNo}
    </select>

    <!-- 인덱스 갱신을 위한 전체 객체 조회 -->
    <select id="findAllForReorder" resultMap="JrnlDiaryMap">
        /* JrnlDiaryMapper.findAllForReorder */
        SELECT *
        FROM jrnl_diary
        WHERE jrnl_entry_no = #{jrnlEntryNo} AND del_yn = 'N'
        ORDER BY idx
    </select>

    <!-- 인덱스 갱신 -->
    <update id="batchUpdateIdx">
        /* JrnlDiaryMapper.batchUpdateIdx */
        <foreach collection="list" item="item" separator=";">
            UPDATE jrnl_diary
            SET idx = #{item.idx}
            WHERE post_no = #{item.postNo} AND del_yn = 'N'
        </foreach>
    </update>

    <!-- 글접기 상태 갱신 -->
    <update id="setCollapse">
        /* JrnlDiaryMapper.setCollapse */
        UPDATE jrnl_diary
        SET collapse_yn = #{collapseYn}
        WHERE post_no = #{postNo} AND del_yn = 'N'
    </update>

    <!-- 글접기 상태 갱신 (상위 Entry 기반) -->
    <update id="setCollapseByEntry">
        /* JrnlDiaryMapper.setCollapseByEntry */
        UPDATE jrnl_diary
        SET collapse_yn = #{collapseYn}
        WHERE jrnl_entry_no = #{postNo} AND del_yn = 'N'
    </update>
</mapper>