<#--
 * 댓글 등록 버튼 partial
 -->

<script type="text/x-handlebars-template" id="comment_reg_btn_partial">
    <button type="button" class="btn btn-sm btn-light-primary btn-outlined m-1 py-0 px-2 cursor-pointer"
            onclick="dF.Comment.modal.regModal({{postNo}}, '{{contentType}}');"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message 'comment'/> <@spring.message "bs.tooltip.modal.reg"/>">
        <i class="bi bi-chat-left-dots p-0"></i>
    </button>
</script>
