<#--
 * 저널 꿈(jrnl_dream) 목록 조회 Template
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_dream_list_template">
    {{#each this}}
        <div class="jrnl-item">
            <div class="col-12 col-md-1 d-flex flex-wrap align-items-center fs-5 fw-bold {{#if isHldy}}text-danger{{/if}}" style="column-gap: .25rem">
                {{> jrnl_day_mdf_btn_partial this postNo=this.jrnlDayNo}}
                <span class="fs-7 ms-4 text-muted">{{{weather}}}</span>
                {{#if (exists hldyNm)}}<div class="w-100 ps-5 fs-6 fw-normal text-truncate">{{hldyNm}}</div>{{/if}}
            </div>
            <div class="col py-3 jrnl-dream-cn {{#ifYn imprtcYn}}bg-secondary{{/ifYn}}" data-id="{{postNo}}">
                {{> jrnl_dream_cn_partial this}}
            </div>
            <div class="col-1 d-none d-md-flex border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
            <div class="col-1 py-3 d-none d-md-flex-between w-75px gap-1">
                {{> comment_reg_btn_partial this contentType="JRNL_DREAM"}}
                <div class="col-1 border-2 border-gray-300 border-end w-10px">&nbsp;</div>
                {{> jrnl_dream_mdf_btn_partial this}}
            </div>
        </div>
    {{else}}
        <div class="jrnl-day d-flex-center">
            <@spring.message 'jrnl.dream'/> <@spring.message 'view.list.empty'/>
        </div>
    {{/each}}
</script>
